*,
*::before,
*::after {
  box-sizing: border-box;
}

/*up date for desin */
    :root {
     font-family: 'Courier New', Courier, monospace;
     font-weight: 300;
     font-style: italic;

     color: lavender;
     color:lightpink;
     color: #b2398e;

     h1 {font-size: 2rem;}
     h2 {font-size: 2.25rem;} h3 {font-size: 1.25rem;} body {font-size: 1rem;}
     
     @media (min-width: 800px) {
       :root {
        h1 {font-size: 4.5;}
        h2 {font-size: 3.75rem;} h3 {font-size: 1.5rem;} body {font-size: 1.125rem;}
       }

     }

     /* general style*/
  

body {
    background: rgb(235, 172, 193);
    color: #b2398e;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    line-height: 1.6;
}

img {
  display: block;
  max-width: 100;
}

header {
    padding: 30px 35px;
    background-color: #b2398e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 35px;
    color: lightpink;
    margin: 0;
  }

  header nav {
    margin: 7px 0;
  }

  header a {
    color:lightpink;
    text-decoration: none;
     }

     header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }


  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  

  footer {
    background: #b2398e;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
  }

  footer h2 {
    color:lightpink;
    font-size: 30px;
    margin: 0;
  }

  img {
      width: 300px;
      height: 200px;
      top: 100px;
      left: 0px;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap ;
    }

    section {
        padding: 60px;
        background:lightyellow
    }

    .hero {
    
        height: 300px;
        background-size: cover;
        background-position: center;
        }
        .me {
            color: purple
        }

     